html,body{
    height: 100%;
    margin: 0;
    overflow: hidden;
}
.container{
    height: 92%;
    margin: 0;
display: flex;
flex-direction: column;
justify-content: flex-start;

}.header-container{
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    flex-shrink: 0;
    box-sizing: border-box;
}.main-nav {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    
    
}.logo-container{
    align-self: center;
    padding-top: 90%;
   
    
}.google-logo{
    
      
    
    
}.search-container{
    align-self: center;
    width: 125%;
    
}.logo-button-container{
    align-self: center;
    
    
}.container2{
    height: auto;
    display: flex;
    flex-direction: column;
    
}.language-container{
    
   
}.footer-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
  
    
}.gmail-nav, .images-nav, .apps-nav, .sign-nav{
    display: flex;
    padding-right: 5px;
    justify-content: space-between;
}.footer-group1{
    display: flex;
    flex-direction: row;
}.footer-group2{
    display: flex;
    
    flex-direction: row;
}.magnify-button{
    z-index: 1;
    position: absolute;
  
}.speak-button{
z-index: 1;
position: absolute;
align-self: flex-end;
}.search-field{
width: 100%;

}.searchfield{
    width: 125%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    
    
}


