html,body{
    height: 100%;
    margin: 0;
    overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.container{
    
padding: 10px;

display: flex;
flex-direction: column;
justify-content: flex-start;

}.header-container{
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    flex-shrink: 0;
    box-sizing: border-box;
    padd
}.main-nav {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    
    
}.logo-container{
    align-self: center;
    
   
    
}.google-logo{
    
    margin: auto;
    display: block;
   
}.search-container{
    align-self: center;
    width: auto;
    max-width: 584px;
    margin: auto;
}.searchfield-container{
    width: 100%;
    padding: 20px;
}.logo-button-container{
    align-self: center;
    width: 50%;
    margin: auto;
    
}.container2{
    
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    
}.language-container{
    
   
}.footer-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 15px 30px;
   border-bottom: 1px solid #dadce0;
   font-size: 15px;
   color: rgba(0,0,0,.54);
   
    
}.gmail-nav, .images-nav, .apps-nav, .sign-nav{
    display: flex;
    padding-right: 5px;
    justify-content: space-between;
}.footer-group1{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    
}.footer-group2{
    display: flex;
    justify-content: space-around;
    width: 50%;
    flex-direction: row;
}.magnify-button{
    z-index: 1;
    position: absolute;
  
}.speak-button{
z-index: 1;
position: absolute;
align-self: flex-end;
}.search-field{
width: 100%;

}.searchfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    margin: auto;
    
}.googlesearch-button{

}.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
}.location{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
}.middle-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 24px;
}


a:link {
    
  }
  
  a:visited {
    
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
  }.gmail-nav, .images-nav{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    padding-left: 15px;
    padding-top: 6px;
    display: inline-block;
  }.images-nav{
    display: inline-block;
      padding-right: 15px;
  }.sign-nav img{
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    padding: 4px;
    display: inline-block;
  }.apps-nav{
      padding: 8px;
      display: inline-block;
      color: #5f6368;
    opacity: 1;
  }.magnify-button{
    
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
  }.speak-button{
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
  }.search-field{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     
     
     
    
     
     padding-left: 10px;
     
     background: #fff;
     
     border: 1px solid #dfe1e5;
     box-shadow: none;
     border-radius: 100px;
     
     height: 44px;
     margin: 0 auto;
     
     
 }
  }



