html,body{
    height: 100%;
    margin: 0;
    overflow: hidden;
display: flex;
flex-direction: column;
justify-content: space-between;
}
.container{
    
padding: 10px;

display: flex;
flex-direction: column;
justify-content: flex-start;

}.header-container{
    display: flex;
    align-self: flex-end;
    justify-self: flex-start;
    flex-shrink: 0;
    box-sizing: border-box;
    padd
}.main-nav {
    display: flex;
    align-self: flex-end;
    flex-direction: row;
    
    
}.logo-container{
    align-self: center;
    
   
    
}.google-logo{
    
    margin: auto;
    display: block;
   
}.search-container{
    align-self: center;
    width: auto;
    max-width: 584px;
    margin: auto;
}.searchfield-container{
    width: 100%;
    padding-top: 20px;
}.logo-button-container{
    align-self: center;
    width: 50%;
    margin: auto;
    
}.container2{
    
    display: flex;
    flex-direction: column;
    background: #f2f2f2;
    
}.language-container{
    
   
}.footer-container{
   display: flex;
   flex-direction: row;
   justify-content: space-between;
   padding: 15px 30px;
   border-bottom: 1px solid #dadce0;
   font-size: 15px;
   color: rgba(0,0,0,.54);
   
    
}.gmail-nav, .images-nav, .apps-nav, .sign-nav{
    display: flex;
    padding-right: 5px;
    justify-content: space-between;
}.footer-group1{
    display: flex;
    flex-direction: row;
    
    
    
}.footer-group2{
    display: flex;
    
    
    justify-content: flex-end;
    flex-direction: row;
}.magnify-button{
    z-index: 1;
    position: absolute;
  
}.speak-button{
z-index: 1;
position: absolute;
align-self: flex-end;
}.search-field{
width: 100%;

}.searchfield{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: -1;
    margin: auto;
    
}.googlesearch-button{

}.button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
    
}.location{
    padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
    font: 14px Roboto,RobotoDraft,Arial,sans-serif;
}.middle-container{
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    margin-bottom: 45px;
    margin-top: -8px;
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
}


a:link {
    
  }
  
  a:visited {
    
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }button{
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    
  }.gmail-nav, .images-nav{
    font: 13px/27px Roboto,RobotoDraft,Arial,sans-serif;
    padding-left: 15px;
    padding-top: 6px;
    display: inline-block;
  }.images-nav{
    display: inline-block;
      padding-right: 15px;
  }.sign-nav img{
    background-size: 32px 32px;
    border: 0;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: block;
    margin: 0;
    position: relative;
    height: 32px;
    width: 32px;
    z-index: 0;
    padding: 4px;
    display: inline-block;
  }.apps-nav{
      padding: 8px;
      display: inline-block;
      color: #5f6368;
    opacity: 1;
  }.magnify-button{
    
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    padding-left: 15px;
    margin-top: 10px;
  }.speak-button{
    margin-top: 3px;
    color: #9aa0a6;
    height: 20px;
    width: 20px;
    padding-right: 15px;
    margin-top: 10px;
  }.search-field{
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
     padding-left: 10px;
     background: #fff;
     border: 1px solid #dfe1e5;
     box-shadow: none;
     border-radius: 100px;
     height: 44px;
     margin: 0 auto;
     box-sizing: border-box;
    padding-left: 45px;
    font: 400 13.3333px Arial;
    
  }.language-container{
    padding-right: 5px;
    padding-left: 5px;
  }.googlesearch-button, .feelinglucky-button{
    padding-right: 16px;
    padding-left: 16px;
    margin-right: 8px;
    
  }.feelinglucky-button{
    margin-left: 8px;
  }.group1, .group2{
    display: block;
    padding-left: 30px;
    white-space: nowrap;
    font: 14px Roboto,RobotoDraft,Arial,sans-serif;
  }.search-field:hover{
    box-shadow: 0 0 4px rgba(33,33,33,.2);
  }.search-field:focus{
    outline: none;
  }.googlesearch-button:hover{
    box-shadow: 0 0 5px rgba(33,33,33, .4);
    
    
  }.feelinglucky-button:hover{
    box-shadow: 0 0 5px rgba(33,33,33, .4);
  }.dropdown {
    position: relative;   

}.dropdown:hover, .gmail-nav:hover, .images-nav:hover, .sign-nav:hover{
  cursor: pointer;
  
}.dropdown__content {
    display: none;
    right: -35px;
    top: 50px;
    position: absolute;
    background-color: rgb(255, 255, 255);
    z-Index: 9999;
    height: 350px;
    width: 330px;
    box-shadow: 0 0 6px rgba(33,33,33, .5);
    border-radius: 3%;
}.cards {
  display: flex;

 
  flex-wrap: wrap;
 width: 340px;
 
  
}

.cards__item {
  
  flex-basis: 25%;
  margin-top: 20px;
  margin-left: 20px;
  height: 90px;
  border-radius: 8%;
  
}.iconsize {
  margin-left: 28%;
  margin-top: 20%;
  font-size: 38px;
  
  
}.textstyle{
  text-align: center;
  font-size: 14px;
  font-family: 'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;
}.cards__item:hover {
  background-color: rgb(66 133 244 / 15%);
}.fa-google {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}.googlecolor {
  background: conic-gradient(from -45deg, #ea4335 110deg, #4285f4 90deg 180deg, #34a853 180deg 270deg, #fbbc05 270deg) 73% 55%/150% 150% no-repeat;
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
  
}.sign-nav:hover, .apps-nav:hover{
  background-color: rgb(218, 218, 218);
  border-radius: 50%;
}.mypointer:hover{
  cursor: pointer;
}@media (max-width: 320px) { 
  .logo-button-container {
    align-self: center;
    width: 80%;
    margin: auto;
    
  }.footer-container{
    flex-direction: column;
    
  }.footer-group1{
    
    align-content: flex-start !important;
flex-wrap: wrap;
    padding-right: 10%;
   
  }.footer-group2{
    margin-left: -20%;
    padding-right: 15%;
  }.logo-button-container button {
    font-size: 11px !important;
  }.button-container {
    padding: 0px;
  }.specialgroup1{
    padding-left: 70px;
  }
} @media only screen and (min-width: 321px) and (max-width: 375px)  {
  .logo-button-container {
    align-self: center;
    width: 80%;
    margin: auto;
    
  }.logo-button-container button {
    font-size: 11px !important;
  }.button-container {
    padding: 0px;
  }.footer-container{
    flex-direction: column;
    
  }.footer-group1{
    
    align-content: flex-start !important;
flex-wrap: wrap;
    padding-left: 10%;
   
  }.footer-group2{
    margin-left: -20%;
    padding-right: 22%;
  }.specialgroup1{
    padding-left: 20%;
  }
}@media only screen and (min-width: 400px) and (max-width: 824px)  {
  .logo-button-container {
    align-self: center;
    width: 80%;
    margin: auto;
    
  }.logo-button-container button {
    font-size: 11px !important;
  }.button-container {
    padding: 0px;
  }.footer-container{
    flex-direction: column;
    
  }.footer-group1{
    
    align-content: flex-start !important;
flex-wrap: wrap;
    padding-left: 17%;
   
  }.footer-group2{
    margin-left: -20%;
    padding-right: 22%;
  }.specialgroup1{
    padding-left: 20%;
  }


  



